version: "3.9"

services:
  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"

  backend:
    image: ayubazmi/backend:latest   
    build: ./backend               
    container_name: backend
    restart: always
    ports:
      - "8080"
    depends_on:
      - mongo

  frontend:
    image: ayubazmi/frontend:latest  
    build: ./frontend              
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
